doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Enrico Teotti - Informazioni in Italiano

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Servizi
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Storia
        // Masthead
        header.masthead
            .container
                .masthead-subheading Lavora con
                .masthead-heading.text-uppercase Enrico Teotti
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Scopri la mia storia
        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Le mie passioni sono
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-comments.fa-stack-1x.fa-inverse
                        h4.my-3 Facilitazione Online
                        p.text-muted
                            | Project kickoffs, Agile Retrospectives, decisioni strategiche.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Transire attivita' online
                        p.text-muted
                            | Design di attivita' e flussi per gruppi distribuiti ed ibridi.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-poll.fa-stack-1x.fa-inverse
                        h4.my-3 Product management
                        p.text-muted
                            | Con 20 anni di sviluppo software hands-on porto una visione pragmatica e bilanciata tra pianificazione e principi Agile.
        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Chi sono?
                    h3.section-subheading.text-muted Uno sviluppatore software che dopo 6 anni di lavoro in Italia e' andato all'estero per 13 anni.
                .row
                    .col-lg-12
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/enricoteotti500.jpg', alt='')
                            h4 Enrico Teotti
                            p.text-muted Facilitator, Product Manager, Agile Coach
                            a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/agenteo')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://github.com/agenteo')
                                i.fab.fa-linkedin-in
                            a.btn.btn-dark.btn-social.mx-2(href='https://teotti.com')
                                i.fas.fa-rss
        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase La mia storia
                    h3.section-subheading.text-muted Seguendo le mie passioni: da sviluppatore ad Agile Coach, product manager e facilitatore.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/italy.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 05/2020 - oggi
                                h4.subheading Italia
                            .timeline-body
                                p.text-muted
                                    | Data la panedemia ho deciso di tornare in Italia dove faccio facilitazione e consulenza online.
                                    a(href='//enricoteotti.com') Trova dettagli sui miei servizi e come contattarmi.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/los-angeles.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 07/2018 - 03/2020
                                h4.subheading Los Angeles
                            .timeline-body
                                p.text-muted
                                    | Transizione dalla track engineering ad un ruolo di coaching come Senior Product Manager per Pivotal Labs.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/sydney.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 05/2018 - 07/2018
                                h4.subheading Sydney, Australia
                            .timeline-body
                                p.text-muted
                                    | Rotazione a Sydney con Pivotal Labs per aiutare un cliente con lo sviluppo di una applicazione mobile per la patente di guida del governo locale.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/los-angeles.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 09/2016 - 05/2018
                                h4.subheading Los Angeles, California
                            .timeline-body
                                p.text-muted
                                    | Da Principal Engineer per Pivotal Labs ho aiutato e fatto hands on coaching in team di sviluppo Agile su diverse tematiche tra le quali abbiamo fatto load testing e capacity planning di 300.000 rpm su un progetto legato alle cryptocurrencies. 
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/chicago.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 05/2016 - 09/2016
                                h4.subheading Chicago, Illinois
                            .timeline-body
                                p.text-muted
                                    | Rotazione a Chicago con Pivotal Labs per aiutare un team di sviluppo agile per una app e backend di una delle piu grandi assicurazioni sanitarie statunitensi.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/boulder.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 07/2015 - 05/2016
                                h4.subheading Boulder, Colorado
                            .timeline-body
                                p.text-muted
                                    | Unito a Pivotal Labs come Principal Engineer. Ruolo attivo di sviluppo e di coaching Agile, stack Ruby, Java Spring, Swift e ReactNative.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/newyork.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 01/2014 - 07/2015
                                h4.subheading New York City
                            .timeline-body
                                p.text-muted
                                    | Transferito da Sydney a New York City come senior software developer per una compagnia che migrava i loro portali da .NET a Ruby.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/sabbatical.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 06/2013 - 01/2014
                                h4.subheading Viaggio sabbatico
                            .timeline-body
                                p.text-muted
                                    | Da Sydney, via Cina 3 mesi esplorando l'Europa e 3 mesi esplorando gli Stati Uniti d'America.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/sydney.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 07/2007 - 06/2013
                                h4.subheading Sydney, Australia
                            .timeline-body
                                p.text-muted
                                    | Unito a News Corp come sviluppatore per 6 mesi, poi circa 3 anni in uno studio web che sviluppava soluzioni in Ruby on Rails ed infine circa 2 anni alla ABC (Australian Broadcasting Corporation) come tech lead.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/laptop.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 01/2001 - 07/2007
                                h4.subheading Italia
                            .timeline-body
                                p.text-muted
                                    | Sviluppato software per realta locali, e assistente ad un Istituto Tecnico Informatico.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/laptop.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 2000
                                h4.subheading Diploma Istituto Tecnico Informatico
                                
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | Copyright © Enrico Teotti 2021

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')